


                  <!-- fOOTer -->
   <footer class="footer">
    <div class="container">
      <div>
        <p>Copyright &copy; 2023> Your Company - Design: 
          <a rel="nofollow" href="https://www.facebook.com/hafsi.rayen.10"> Rayen Hafsi</a>
        </p>
      </div>
      <div class="footer_shape">
        <a href="https://www.facebook.com/gassen.hafsi.10" class="btn btn-wh"><i class="fa-brands fa-facebook"></i></a>
        <a href="" class="btn btn-wh"><i class="fa-brands fa-instagram"></i></a>
        <a href="" class="btn btn-wh"><i class="fa-brands fa-facebook-messenger"></i></a>
        <a href="" class="btn btn-wh"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
   </footer>
