{% load static %}
  
                           <!-- Main menu -->
  <nav class="navbar navbar-expand-md navbar-Success bg-Success">
    <div class="container">
      <a class="navbar-brand" href="{% static 'image/qr.png' %}"><h1 class="title">WlDn</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="level-nav-link nav-link active" aria-current="page" href="#"><i class="fa-solid fa-house"></i></a>
          <a class="level-nav-link nav-link " href="product"><i class="fa-solid fa-bookmark"></i></a>
          <a class="level-nav-link nav-link " href="slider"><i class="fa-solid fa-sliders"></i></a>
        </div>
      </div>
    </div>
  </nav>